@using Newtonsoft.Json;
@using ProyectoMancariBlue.Models.Enum;
@using ProyectoMancariBlue.Models.Obj.DTO;
@model ProyectoMancariBlue.Models.Obj.Request.PrestacionRequest
@{
    ViewData["Title"] = "Empleados";
}
@functions {
    string NombreCompleto(string n, string a)
    {
        return n + " " + a;
    }
    public string formatteDate(DateTime date)
    {
        return date.ToShortDateString();
    }

}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Administración de Empleados</h1>
        <p>Empleados</p>
        <br>
        <a asp-action="Index" asp-controller="Empleado" class="btn btn-primary"><i aria-hidden="true"></i>Lista de Empleados</a>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Empleados</li>
    </ul>
</div>
<div class="row" style="flex-direction:column">
    <div class="col-md-14">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    @if (Model.ListaEmpleados.Count() > 0)
                    {

                        <table class="table table-hover table-bordered" id="templeados">
                            <thead>
                                <tr>
                                    <th>
                                        Cédula
                                    </th>
                                    <th>
                                        Nombre Completo
                                    </th>
                                    <th>
                                        Puesto
                                    </th>
                                    <th>
                                        Fecha de Ingreso
                                    </th>

                                    <th>
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.ListaEmpleados)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cedula)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rol.Descripcion)
                                        </td>
                                        <td>
                                            @formatteDate(item.FechaIngreso.Value);
                                        </td>

                                        <td>

                                            <a class="btn btn-info" style="color: white" id="generarPlanillaBtn" onclick="OpenModalPlanilla(this,'generarPlanillaModal',0)" data-registro='@JsonConvert.SerializeObject(item)'>Generar Planilla</a>
                                            <a class="btn btn-info" style="color: white" id="generarAguinaldoBtn" onclick="OpenModalAguinaldo(this,'generarAguinaldoModal',0)" data-registro='@JsonConvert.SerializeObject(item)'>Generar Aguinaldo</a>
                                            <a class="btn btn-info" style="color: white" onclick="OpenModalLiquidacion(this,'generarLiquidacionModal',0)" data-registro='@JsonConvert.SerializeObject(item)'>Generar Liquidación</a>

                                        </td>
                                    </tr>
                                </tbody>
                            }

                        </table>

                    }
                    else
                    {

                        <div>No se ha encontrado registros disponibles.</div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generarPlanillaModal" tabindex="-1" role="dialog" aria-labelledby="generarPlanillaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generarPlanillaModalLabel">Generar Planilla</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bodyPlanilla" id="modal-content">
                <input type="hidden" id="empleadoId" value="0" />

                <table class="table">
                    <tbody>
                        <tr>
                            <td>Nombre:</td>
                            <td><div id="dvNombrePlanilla"></div></td>
                        </tr>
                        <tr>
                            <td>Puesto:</td>
                            <td><div id="dvPuestoPlanilla"></div></td>
                        </tr>
                        <tr>
                            <td>Fecha Ingreso:</td>
                            <td><div id="dvFechaIngresoPlanilla"></div></td>
                        </tr>
                        <tr>
                            <td>Antigüedad (Años):</td>
                            <td><div id="dvAntiguedadPlanilla"></div></td>
                        </tr>
                        <tr>
                            <td>Salario:</td>
                            <td><div id="dvSalarioPlanilla"></div></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Divisor -->
                <hr>

                <!-- Segunda tabla -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-4 p-0" style="text-align: center;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div id="informacionPlanillaContainer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                @* <button type="button" class="btn btn-primary" onclick="imprimirPagina()">Imprimir</button> *@
                <button class="btn btn-success" id="downloadPdfBtn">Descargar PDF</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generarAguinaldoModal" tabindex="-1" role="dialog" aria-labelledby="generarAguinaldoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generarAguinaldoModalLabel">Generar Aguinaldo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="empleadoIdAguinaldo" value="0" />
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Nombre:</td>
                            <td><div id="dvNombreAguinaldo"></div></td>
                        </tr>
                        <tr>
                            <td>Puesto:</td>
                            <td><div id="dvPuestoAguinaldo"></div></td>
                        </tr>
                        <tr>
                            <td>Fecha Ingreso:</td>
                            <td><div id="dvFechaIngresoAguinaldo"></div></td>
                        </tr>
                        <tr>
                            <td>Antigüedad (Años):</td>
                            <td><div id="dvAntiguedadAguinaldo"></div></td>
                        </tr>
                        <tr>
                            <td>Salario:</td>
                            <td><div id="dvSalarioAguinaldo"></div></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Divisor -->
                <hr>
                <div style="display: flex;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-4 p-0" style="text-align: center;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div id="informacionAguinaldoContainer">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Segunda tabla -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-4 p-0" style="text-align: center;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div id="informacionTotalContainer">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                @* <button type="button" class="btn btn-primary" onclick="imprimirPagina()">Imprimir</button> *@
                <button class="btn btn-success" id="downloadPdfBtnAguinaldo">Descargar PDF</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="generarLiquidacionModal" tabindex="-1" role="dialog" aria-labelledby="generarLiquidacionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generarLiquidacionModal">Generar liquidacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formLiquidacion" asp-controller="Empleado" asp-action="GenerarPDFLiquidacion" method="post">
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Nombre:</td>
                                <td><div id="dvNombreLiquidacion"></div></td>
                            </tr>
                            <tr>
                                <td>Puesto:</td>
                                <td><div id="dvPuestoLiquidacion"></div></td>
                            </tr>
                            <tr>
                                <td>Fecha Ingreso:</td>
                                <td><div id="dvFechaIngresoLiquidacion"></div></td>
                            </tr>
                            <tr>
                                <td>Antigüedad (Años):</td>
                                <td><div id="dvAntiguedadLiquidacion"></div></td>
                            </tr>
                            <tr>
                                <td>Salario:</td>
                                <td><div id="dvSalarioLiquidacion"></div></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <!-- Divisor -->
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <input type="hidden" name="empleadoObj" id="hdfEmpleadoObj" />
                                    <label for="ddLiquidacionModal">Motivo de salida</label>
                                    <input type="text" id="ddlLiquidacionModal" list="LiquidacionlList" class="form-control" placeholder="Seleccione un motivo..." autocomplete="off">
                                    <input type="hidden" id="empleadoIdLiquidacion" name="IdEmpleado" asp-for="Liquidacion.IdEmpleado" />
                                    <input type="hidden" name="MotivoSalida" asp-for="Liquidacion.MotivoSalida" id="IdReason" />
                                    <datalist id="LiquidacionlList">
                                        @{
                                            foreach (var value in Enum.GetValues(typeof(EReasonDeparture)))
                                            {
                                                var EReasonDeparture = (EReasonDeparture)value;
                                                <option value="@((int)EReasonDeparture)" data-id="@((int)EReasonDeparture)">@EReasonDeparture.GetDisplayNameReason()</option>
                                            }
                                        }
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="mb-3">
                                    <label for="lblDate" class="form-label">Fecha de salida</label>
                                    <input type="date" class="form-control" name="FechaSalida" asp-for="Liquidacion.FechaSalida" id="dtDateLiquidacion">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-check">
                                    <input class="form-check-input" name="Preaviso" type="checkbox" asp-for="Liquidacion.Preaviso" id="chkPreaviso">
                                    <label class="form-check-label" for="chkPreaviso">
                                        ¿Realiza preaviso?
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                                <div class="mb-3">
                                    <label for="lblDescription" class="form-label">Detalle:</label>
                                    <textarea class="form-control" id="txtDescription" disabled="disabled" cols="40" rows="8"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Regresar</button>
                    @* <button type="button" class="btn btn-primary" onclick="imprimirPagina()">Imprimir</button> *@
                    <button class="btn btn-success" type="submit" id="downloadPdfBtnLiquidacion">Generar Liquidación</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#templeados').DataTable();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
    <script>
        $(document).ready(function () {



            document.getElementById('downloadPdfBtn').addEventListener('click', function () {
                var empleadoId = document.getElementById('empleadoId').value;
                window.location.href = '/Empleado/GenerarPDF?empleadoId=' + empleadoId;
            });

            document.getElementById('downloadPdfBtnAguinaldo').addEventListener('click', function () {
                var empleadoId = document.getElementById('empleadoIdAguinaldo').value;
                window.location.href = '/Empleado/GenerarPDFAguinaldo?empleadoId=' + empleadoId;
            });
            var motivoSalidaInput = document.getElementById('IdReason');
            var fechaSalidaInput = document.getElementById('dtDateLiquidacion');

            var debounceTimer;
            InitializerEventDropDownList('ddlLiquidacionModal', 'LiquidacionlList', 'IdReason');
            $('#dtDateLiquidacion').on('input', function () {
                clearTimeout(debounceTimer);
                debounceTimer = setTimeout(validateAndExecuteAjax, 500);
            });
            $('#formLiquidacion').on('submit', function (e) {
                showSpinner();

                e.preventDefault();

                var form = $(this);
                var url = form.attr('action');

                setTimeout(function () {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: form.serialize(),
                        success: function (response) {
                            hideSpinner();
                            if (response.success) {
                                Swal.fire({
                                    title: 'Éxito',
                                    text: response.message,
                                    icon: 'success'
                                }).then(() => {

                                    var linkSource = `data:application/pdf;base64,${response.pdfBase64}`;
                                    var downloadLink = document.createElement("a");
                                    var fileName = response.nombrePdf;

                                    downloadLink.href = linkSource;
                                    downloadLink.download = fileName;
                                    downloadLink.click();
                                    console.log(response.EmpleadoID);
                                    $.ajax({
                                        url: '/Empleado/ActualizarEmpleado',
                                        data: { id: response.idE },
                                        type: 'GET',
                                        success: function (data) {
                                            setTimeout(function () {
                                                window.location.href = '@Url.Action("IndexPrestacion", "Empleado")';
                                            }, 1000);
                                        },
                                        error: function (error) {
                                            console.log('Error al obtener la información del empleado:', error);
                                        }
                                    });


                                });
                            } else {
                                Swal.fire({
                                    title: 'Error',
                                    text: response.message,
                                    icon: 'error'
                                });
                            }
                        },
                        error: function () {
                            hideSpinner();
                            Swal.fire({
                                title: 'Error',
                                text: 'Ocurrió un error inesperado.',
                                icon: 'error'
                            });
                        }
                    });
                }, 1000);
            });
            $('form').on('submit', function (e) {
                showSpinner();

                e.preventDefault();

                var form = $(this);
                var url = form.attr('action');


                setTimeout(function () {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: form.serialize(),
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    title: 'Éxito',
                                    text: response.message,
                                    icon: 'success'
                                }).then(() => {
                                    window.location.href = '@Url.Action("IndexPrestacion", "Empleado")';
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error',
                                    text: response.message,
                                    icon: 'error'
                                });
                            }
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Error',
                                text: 'Ocurrió un error inesperado.',
                                icon: 'error'
                            });
                        }
                    });

                    hideSpinner();
                }, 1000);
            });



        });
        function OpenModalPlanilla(button, modal, option) {

            var RegistroJson = button.getAttribute("data-registro");
            var registro = JSON.parse(RegistroJson);
            console.log(registro);

            if (option === 0) {
                var FechaIngreso = new Date(registro.FechaIngreso);
                var formattedDate = FechaIngreso.toISOString().split('T')[0];

                $('#dvNombrePlanilla').text(registro.Nombre);
                $('#dvFechaIngresoPlanilla').text(formattedDate);
                $('#dvSalarioPlanilla').text(formatearComoColones(registro.Salario));
                $('#dvAntiguedadPlanilla').text(calcularAniosTranscurridos(registro.FechaIngreso));
                $('#dvPuestoPlanilla').text(registro.Puesto);
                $('#empleadoId').val(registro.Id);
                $.ajax({
                    url: '/Empleado/ObtenerPagos',
                    data: { id: registro.Id },
                    type: 'GET',
                    success: function (data) {
                        $('#informacionPlanillaContainer').html(data);
                    },
                    error: function (error) {
                        console.log('Error al obtener la información del empleado:', error);
                    }
                });


            }

            OpenModal(modal);
        }
        function OpenModalAguinaldo(button, modal, option) {

            var RegistroJson = button.getAttribute("data-registro");
            var registro = JSON.parse(RegistroJson);
            console.log(registro);

            if (option === 0) {
                var FechaIngreso = new Date(registro.FechaIngreso);
                var formattedDate = FechaIngreso.toISOString().split('T')[0];

                $('#dvNombreAguinaldo').text(registro.Nombre);
                $('#dvFechaIngresoAguinaldo').text(formattedDate);
                $('#dvSalarioAguinaldo').text(formatearComoColones(registro.Salario));
                $('#dvAntiguedadAguinaldo').text(calcularAniosTranscurridos(registro.FechaIngreso));
                $('#dvPuestoAguinaldo').text(registro.Puesto);
                $('#empleadoIdAguinaldo').val(registro.Id);
                $.ajax({
                    url: '/Empleado/ObtenerPagosAguinaldo',
                    data: { id: registro.Id },
                    type: 'GET',
                    success: function (data) {
                        $('#informacionAguinaldoContainer').html(data);

                    },
                    error: function (error) {
                        console.log('Error al obtener la información del empleado:', error);
                    }
                });

                $.ajax({
                    url: '/Empleado/ObtenerPagosAguinaldoTotal',
                    data: { id: registro.Id },
                    type: 'GET',
                    success: function (data) {
                        $('#informacionTotalContainer').html(data);

                    },
                    error: function (error) {
                        console.log('Error al obtener la información del empleado:', error);
                    }
                });
            }


            OpenModal(modal);

        }
        function OpenModalLiquidacion(button, modal, option) {

            var RegistroJson = button.getAttribute("data-registro");
            var registro = JSON.parse(RegistroJson);
            console.log(registro);

            if (option === 0) {
                var FechaIngreso = new Date(registro.FechaIngreso);
                var formattedDate = FechaIngreso.toISOString().split('T')[0];

                $('#dvNombreLiquidacion').text(registro.Nombre);
                $('#dvFechaIngresoLiquidacion').text(formattedDate);
                $('#dvSalarioLiquidacion').text(formatearComoColones(registro.Salario));
                $('#dvAntiguedadLiquidacion').text(calcularAniosTranscurridos(registro.FechaIngreso));
                $('#dvPuestoLiquidacion').text(registro.Puesto);
                $('#empleadoIdLiquidacion').val(registro.Id);
                $('#hdfEmpleadoObj').val(JSON.stringify(registro));

            }


            OpenModal(modal);

        }

        function calcularAniosTranscurridos(fecha) {
            const fechaInicial = new Date(fecha);
            const fechaActual = new Date();
            let anios = fechaActual.getFullYear() - fechaInicial.getFullYear();
            const mes = fechaActual.getMonth() - fechaInicial.getMonth();
            if (mes < 0 || (mes === 0 && fechaActual.getDate() < fechaInicial.getDate())) {
                anios--;
            }

            return anios;
        }
        function formatearComoColones(monto) {

            const formatoColones = new Intl.NumberFormat('es-CR', {
                style: 'currency',
                currency: 'CRC',
                minimumFractionDigits: 2
            });
            return formatoColones.format(monto);
        }
        function InitializerEventDropDownList(DropDownInput, dataList, HDF) {
            var typingTimer;
            var doneTypingInterval = 1000;

            document.getElementById(DropDownInput).addEventListener("input", function () {
                clearTimeout(typingTimer);

                typingTimer = setTimeout(function () {
                    var inputValue = document.getElementById(DropDownInput).value.toLowerCase();
                    var inputObject = document.getElementById(DropDownInput);
                    var options = document.getElementById(dataList).options;

                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];
                        var text = option.textContent.toLowerCase();

                        if (text.indexOf(removeAccents(inputValue)) !== -1) {
                            option.style.display = "block";
                        } else {
                            option.style.display = "none";
                        }
                    }
                    var selectedOption = null;
                    for (var i = 0; i < options.length; i++) {
                        if (options[i].value.toLowerCase() === inputObject.value.toLowerCase()) {
                            selectedOption = options[i];

                            break;
                        }
                    }
                    if (selectedOption) {
                        inputObject.value = selectedOption.textContent;
                        document.getElementById(HDF).value = selectedOption.getAttribute('data-id');
                        validateAndExecuteAjax();


                    }
                    else {
                        document.getElementById(HDF).value = '';
                        $('#txtDescription').val("");
                    }
                    if (GetDropDownValueSelected(DropDownInput, dataList) === null) {
                        inputObject.value = '';
                        inputObject.placeholder = "No se encontró el registro digitado";


                        typingTimer = setTimeout(function () {
                            inputObject.placeholder = "Seleccione una opción...";
                        }, 700)
                    }
                    else {


                        document.getElementById(DropDownInput).value = GetDropDownTextContentSelected(DropDownInput, dataList);
                        options[0].selected = true;
                    }
                }, doneTypingInterval);


            });
        }

        function validateAndExecuteAjax() {
            var motivoSalida = $('#IdReason').val();
            var fechaSalida = $('#dtDateLiquidacion').val();
            const preaviso = $('#chkPreaviso').is(':checked');
            const empleadoId = $('#empleadoIdLiquidacion').val();
            const empleadoObjo = $('#hdfEmpleadoObj').val();
            console.log(motivoSalida);
            console.log(fechaSalida);
            console.log(preaviso);
            console.log(empleadoObjo);

            if (motivoSalida != '' && fechaSalida) {
                var data = {
                    IdEmpleado: empleadoId,
                    MotivoSalida: motivoSalida,
                    FechaSalida: fechaSalida,
                    Preaviso: preaviso,
                    empleadoObj: empleadoObjo
                };

                $.ajax({
                    url: '/Empleado/ObtenerDetalleLiquidacion',
                    type: 'GET',
                    data: data,
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {

                        $('#txtDescription').val(response.data);
                        console.log(response);
                    },
                    error: function (xhr, status, error) {

                        console.error(error);
                    }
                });
            }
            else {
                $('#txtDescription').val("");
            }
        }

    </script>
    }
