@model IEnumerable<ProyectoMancariBlue.Models.Obj.Empleado>

@{
    ViewData["Title"] = "Administradores";
}
@functions {
    string NombreCompleto(string n, string a)
    {
        return n + " " + a;

    }

 }

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Administración de Usuarios</h1>
        <p>Administradores</p>
        <br>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Administradores</li>
    </ul>
</div>
<!-- <div class="row" style="flex-direction:column">
    <div class="col-md-14">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tadministrador">
                        <thead>
                            <tr>
                                <th>
                                    Cédula
                                </th>
                                <th>
                                    Nombre Completo
                                </th>
                                <th>
                                    Correo
                                </th>

                                <th>
                                    Puesto
                                </th>
                                <th>
                                    Fecha de Ingreso
                                </th>
                                <th>
                                    Rol
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1-1492-0416
                                </td>
                                <td>
                                    Josue Rojas Chaves
                                </td>

                                <td>
                                    svcrove@outlook.com
                                </td>
                                <td>
                                    Asistente
                                </td>
                                <td>
                                    02/04/2024
                                </td>
                                <td>
                                    Rol 1
                                </td>
                                <td>
                                    <span class="badge badge-success">Activo</span>
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="EditarAdministrador" asp-controller="Empleado">Editar</a>
                                    <a class="btn btn-info" asp-action="VerAdministrador" sp-controller="Empleado">Detalle</a>
                                    <a class="btn btn-danger cambiar-estado-btn" href="#">Desactivar</a>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    1-1492-0416
                                </td>
                                <td>
                                   Maria Chaves Mora
                                </td>

                                <td>
                                    svcrove@outlook.com
                                </td>
                                <td>
                                    Veterinario
                                </td>
                                <td>
                                    02/04/2024
                                </td>
                                <td>
                                    Rol 2
                                </td>
                                <td>
                                    <span class="badge badge-success">Activo</span>
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="EditarAdministrador" asp-controller="Empleado">Editar</a>
                                    <a class="btn btn-info" asp-action="VerAdministrador" sp-controller="Empleado">Detalle</a>
                                    <a class="btn btn-danger cambiar-estado-btn" href="#">Desactivar</a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->

@if (Model.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="tadministrador">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre copleto
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cedula)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Correo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Puesto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>
                                    <th>
                                        Tipo Rol
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @NombreCompleto(item.Nombre, item.Apellidos)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cedula)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Correo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Puesto)
                                            </td>
                                       
                                            <td>
                                                @if (item.Estado)
                                                {

                                                    <span class="badge badge-success">Activo</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Inactivo</span>

                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rol.Descripcion)
                                            </td>
                                            <td>
                                                @if (Context.Request.Cookies["Id"] != item.Id.ToString())
                                                {
                                                    <a class="btn btn-primary" asp-action="EditarAdmin" asp-route-id="@item.Id">Cambiar Rol</a>
                                                    <a class="btn btn-info" asp-action="DetailsAdmin" asp-route-id="@item.Id">Ver</a>

                                                }

                                            </td>


                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <h3>Lo sentimos no tenemos datos por mostrar</h3>
    </div>
}

@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#tadministrador').DataTable();</script>
    <script>

        $(document).ready(function () {
            $('.cambiar-estado-btn').click(function (e) {
                e.preventDefault();

                var id = $(this).data('id');

                // Mostrar confirmación con SweetAlert2
                Swal.fire({
                    title: 'Confirmación',
                    text: '¿Estás seguro de que deseas cambiar el estado?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la llamada AJAX si se confirma la acción
                        $.ajax({
                            url: '@Url.Action("CambiarEstado", "Empleado")',
                            type: 'POST',
                            success: function (response) {
                                // Mostrar mensaje de éxito con SweetAlert2
                                Swal.fire('Éxito', 'El estado ha sido cambiado correctamente.', 'success').then(function () {
                                    // Recargar la página
                                    location.reload();
                                });
                            },
                            error: function (xhr, status, error) {
                                // Mostrar mensaje de error con SweetAlert2
                                Swal.fire('Error', 'Ha ocurrido un error al cambiar el estado.', 'error');
                                console.error('Error:', error);
                            }
                        });
                    }
                });
            });
        });

    </script>

}