@using ProyectoMancariBlue.Models.Enum;
@model ProyectoMancariBlue.Models.Obj.Request.EmpleadoRequest

@{
    ViewData["Title"] = "Administradores";
}
@functions {
    string NombreCompleto(string n, string a)
    {
        return n + " " + a;

    }

 }

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Administración de Usuarios</h1>
        <p>Administradores</p>
        <br>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Administradores</li>
    </ul>
</div>

@if (Model.Empleado.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="tadministrador">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmpleadoCreate.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmpleadoCreate.Cedula)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmpleadoCreate.Correo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmpleadoCreate.Puesto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmpleadoCreate.Estado)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmpleadoCreate.Rol.Descripcion)
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.Empleado)
                                    {
                                        <tr>
                                            <td>
                                                @NombreCompleto(item.Nombre, item.Apellidos)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cedula)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Correo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Puesto)
                                            </td>
                                       
                                            <td>
                                                @if (item.Estado)
                                                {

                                                    <span class="badge badge-success">Activo</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">Inactivo</span>

                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rol.Descripcion)
                                            </td>
                                            <td>
                                                @if (Context.Request.Cookies["Id"] != item.Id.ToString())
                                                {
                                                    <a class="btn btn-primary" asp-action="EditarAdmin" asp-route-id="@item.Id">Cambiar Rol</a>
                                                    <a class="btn btn-info" asp-action="DetailsAdmin" asp-route-id="@item.Id">Ver</a>

                                                }

                                            </td>


                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <h3>Lo sentimos no tenemos datos por mostrar</h3>
    </div>
}


@*Modal to add Empleado*@
<div class="modal fade" id="mdlAddEmpleado">
    <div class="modal-dialog modal-lg dialogPDF">
        <div class="modal-content contentPDF">
            <div class="modal-header" style="background-color: #007C89; color:white; justify-content: center; ">
                <h5 class="modal-title">Agregar Empleado</h5>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdfEstado" value="0" />
                <input type="hidden" id="hdfId" value="0" />
                <div class="row" style=" padding-left: 1rem;">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label for="txtCedula">Cédula</label>
                                <input type="text" id="txtCedula" class="form-control" placeholder="Digite la cédula" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label for="ddlAddEmpleadoModal">Selecciona la raza</label>
                                <input type="text" id="ddlAddEmpleadoRazaModal" list="AddEmpleadoRazalList" class="form-control" placeholder="Buscar raza..." autocomplete="off">
                                <datalist id="AddEmpleadoRazalList">

                                    @{
                                        foreach (var value in Enum.GetValues(typeof(ECattle)))
                                        {
                                            var cattle = (ECattle)value;
                                            <option value="@((int)cattle)">@cattle.GetDisplayName()</option>
                                        }
                                    }
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label for="ddlAddEmpleadoModal">Selecciona el padre</label>
                                <input type="text" id="ddlAddEmpleadoModal" list="AddEmpleadoList" class="form-control" placeholder="Buscar padre..." autocomplete="off">
                                <datalist id="AddEmpleadoList">

                                    @{
                                        if ((IEnumerable<SelectListItem>)ViewBag.EmpleadoList != null)
                                        {
                                            foreach (var item in (IEnumerable<SelectListItem>)ViewBag.EmpleadoList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }
                                        }
                                    }
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label for="ddlAddEmpleadoModal">Selecciona la madre</label>
                                <input type="text" id="ddlAddEmpleadoMothreModal" list="AddEmpleadoMotherlList" class="form-control" placeholder="Buscar madre..." autocomplete="off">
                                <datalist id="AddEmpleadoMotherlList">

                                    @{
                                        if ((IEnumerable<SelectListItem>)ViewBag.EmpleadoMotherList != null)
                                        {
                                            foreach (var item in (IEnumerable<SelectListItem>)ViewBag.EmpleadoMotherList)
                                            {
                                                <option value="@item.Value">@item.Text</option>
                                            }

                                        }
                                    }
                                </datalist>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label>Seleccione el género</label>
                                <div>
                                    <input type="radio" id="genderMale" checked="true" name="EmpleadoGender" value="M">
                                    <label for="genderMale">Macho</label>
                                </div>
                                <div>
                                    <input type="radio" id="genderFemale" name="EmpleadoGender" value="H">
                                    <label for="genderFemale">Hembra</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0 " id="EmpleadoEmContainer">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="EmpleadoBirths">Cantidad de partos</label>
                                <input type="number" id="txtEmpleadoBirths" name="EmpleadoBirths" class="form-control" placeholder="Ingrese la cantidad de partos" min="1" step="1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0 ">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="EmpleadoHeigth">Peso en KG</label>
                                <input type="number" id="txtEmpleadoHeigth" name="EmpleadoHeigth" class="form-control" placeholder="Ingrese el peso en KG" min="1" step="1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="mb-3">
                                <label for="lblDate" class="form-label">Fecha de nacimiento</label>
                                <input type="date" class="form-control" id="dtDate">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="modal-footer">
                <button type="button" id="btnAddEmpleado" class="btn btn-primary" onclick="NewEmpleado()">Aceptar</button>
                <button type="button" id="btnCloseModalAddEmpleado" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#tadministrador').DataTable();</script>
    <script>

        $(document).ready(function () {
            $('.cambiar-estado-btn').click(function (e) {
                e.preventDefault();

                var id = $(this).data('id');

                // Mostrar confirmación con SweetAlert2
                Swal.fire({
                    title: 'Confirmación',
                    text: '¿Estás seguro de que deseas cambiar el estado?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la llamada AJAX si se confirma la acción
                        $.ajax({
                            url: '@Url.Action("CambiarEstado", "Empleado")',
                            type: 'POST',
                            success: function (response) {
                                // Mostrar mensaje de éxito con SweetAlert2
                                Swal.fire('Éxito', 'El estado ha sido cambiado correctamente.', 'success').then(function () {
                                    // Recargar la página
                                    location.reload();
                                });
                            },
                            error: function (xhr, status, error) {
                                // Mostrar mensaje de error con SweetAlert2
                                Swal.fire('Error', 'Ha ocurrido un error al cambiar el estado.', 'error');
                                console.error('Error:', error);
                            }
                        });
                    }
                });
            });
        });

    </script>

}