@using Newtonsoft.Json;
@using ProyectoMancariBlue.Models.Enum;
@model ProyectoMancariBlue.Models.Obj.Request.AnimalRequest
@{
    ViewData["Title"] = "Animales";
    string layoutName = Context.Request.Cookies["Layout"] ?? "_Layout";
    Layout = layoutName ?? "_Layout";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Registro Generacional</h1>
        <p>Animales</p>
        <br>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Animales</li>
    </ul>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tanimales">
                        <h4>Registro Generacional - Padres</h4>
                        <thead>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <th>
                                    Género
                                </th>
                                <th>
                                    Peso (KG)
                                </th>
                                <th>
                                    Raza
                                </th>

                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Fathers)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>

                                    @if (item.Genero.Equals("H"))
                                    {
                                        <td>
                                            Hembra
                                        </td>

                                    }
                                    else
                                    {
                                        <td>
                                            Macho
                                        </td>

                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PesoKG) KG.
                                    </td>

                                    <td>
                                        @item.Raza.GetDisplayName()
                                    </td>

                                    <td>
                                        <a class="btn btn-info" onclick="OpenModalInfoAnimalCria(this,'mdlAnimalCria')" data-animal='@JsonConvert.SerializeObject(item)' style="color:white;">Ver Crías Registradas</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tanimalesmMother">
                        <h4>Registro Generacional - Madres</h4>
                        <thead>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <th>
                                    Genero
                                </th>
                                <th>
                                    Peso (KG)
                                </th>
                                <th>
                                    Raza
                                </th>

                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Mothers)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>

                                    @if (item.Genero.Equals("H"))
                                    {
                                        <td>
                                            Hembra
                                        </td>

                                    }
                                    else
                                    {
                                        <td>
                                            Macho
                                        </td>

                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PesoKG) KG.
                                    </td>

                                    <td>
                                        @item.Raza.GetDisplayName()
                                    </td>

                                    <td>
                                        <a class="btn btn-info" onclick="OpenModalInfoAnimalCria(this,'mdlAnimalCria')" data-animal='@JsonConvert.SerializeObject(item)' style="color:white;">Ver Crías Registradas</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*Modal to show son´s*@
<div class="modal fade" id="mdlAnimalCria">
    <div class="modal-dialog modal-lg dialogPDF">
        <div class="modal-content contentPDF">
            <div class="modal-header" style="background-color: #007C89; color:white; justify-content: center; ">
                <h5 class="modal-title">Crias registradas</h5>
            </div>

            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="informacionAnimalContainer">
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" id="btnCloseModalAddAnimal" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tanimalesp').DataTable();
            $('#tanimalesm').DataTable();
        });
    </script>
    <script>

        $(document).ready(function () {


            $('#tanimales').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "responsive": true,
                "buttons": [
                    'copy', 'excel', 'pdf', 'print'
                ],
                "lengthMenu": [[3, 5, 10, 25, 50, 100], [5, 10, 25, 50, "Todo"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrados de _MAX_ registros en total)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

            $('#tanimalesmMother').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "responsive": true,
                "buttons": [
                    'copy', 'excel', 'pdf', 'print'
                ],
                "lengthMenu": [[3, 5, 10, 25, 50, 100], [5, 10, 25, 50, "Todo"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrados de _MAX_ registros en total)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });

        function OpenModalInfoAnimalCria(button, modal) {

            var animalJson = button.getAttribute("data-animal");
            var animal = JSON.parse(animalJson);
            console.log(animal);



            $.ajax({
                url: '/Animal/ObtenerCriasPadre',
                data: { animal: animal },
                type: 'POST',
                success: function (data) {
                    $('#informacionAnimalContainer').html(data);
                },
                error: function (error) {
                    console.log('Error al obtener la información del animal:', error);
                }
            });



            OpenModal(modal);
        }
    </script>

}