@model IEnumerable<ProyectoMancariBlue.Models.Obj.Animal>


@{
    ViewData["Title"] = "Index";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Administración de Animales</h1>
        <p>Animales</p>
        <br>
        <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Crear Animal</a>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Animales</li>
    </ul>
</div>

@if (Model.Any())
{
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="tanimales">
                        <thead>
                            <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Madre)
                                    </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Padre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Genero)
                                </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PartosRegistrados)
                                    </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PesoKG)
                                </th>
                               
                                <th>
                                    @Html.DisplayNameFor(model => model.Raza)
                                </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaNacimiento)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Madre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Padre)
                                    </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Genero)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartosRegistrados)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PesoKG)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Raza)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaNacimiento)
                                        </td>
                                        <td>
                                            @if (item.Estado)
                                            {

                                                <span class="badge badge-success">Activo</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Inactivo</span>

                                            }
                                        </td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                                            @if (item.Estado)
                                            {
                                                <a class="btn btn-danger cambiar-estado-btn" href="#" data-id="@item.Id">Desactivar</a>

                                            }
                                            else
                                            {
                                                <a class="btn btn-success cambiar-estado-btn" href="#" data-id="@item.Id">Activar</a>
                                            }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
<div>
    <h3>Lo sentimos no tenemos datos por mostrar</h3>
</div>
}

@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#tanimals').DataTable();</script>
    <script>

        $(document).ready(function () {
            $('.cambiar-estado-btn').click(function (e) {
                e.preventDefault();

                var id = $(this).data('id');

                // Mostrar confirmación con SweetAlert2
                Swal.fire({
                    title: 'Confirmación',
                    text: '¿Estás seguro de que cambiar el esatdo?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la llamada AJAX si se confirma la acción
                        $.ajax({
                            url: '@Url.Action("Delete", "Animal")',
                            type: 'POST',
                            data: { id: id },
                            success: function (response) {
                                // Mostrar mensaje de éxito con SweetAlert2
                                Swal.fire('Éxito', 'Se ha cambiado el estado correctamente.', 'success').then(function () {
                                    // Recargar la página
                                    location.reload();
                                });
                            },
                            error: function (xhr, status, error) {
                                // Mostrar mensaje de error con SweetAlert2
                                Swal.fire('Error', 'Error al cambiar el estado.', 'error');
                                console.error('Error:', error);
                            }
                        });
                    }
                });
            });
        });

    </script>

}
