@using Newtonsoft.Json;
@model ProyectoMancariBlue.Models.Obj.Request.ReporteRequest
@{
    ViewData["Title"] = "Reportes";
    string layoutName = Context.Request.Cookies["Layout"] ?? "_Layout";
    Layout = layoutName ?? "_Layout";
}
@functions {
    string NombreCompleto(string n, string a)
    {
        return n + " " + a;

    }

}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Administración de Reportes</h1>
        <p>Reportes</p>
        <br>
        <a onclick="OpenModal('mdlAddReporte')" class="btn btn-primary" style="color:white;"><i class="fa fa-plus" aria-hidden="true"></i>Crear Reporte</a>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Reportes</li>
    </ul>
</div>

@if (Model != null && Model.listaReporte != null && Model.listaReporte.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                      <table class="table table-hover table-bordered" id="treporte">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReporteCreate.CodigoCVO)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReporteCreate.CodigoTransporte)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReporteCreate.Transaccion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReporteCreate.Identificacion)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReporteCreate.NombreCliente)
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.listaReporte)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodigoCVO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodigoTransporte)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Venta.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Identificacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NombreCliente)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary" onclick="OpenModalModifyReport(this,'mdlModifyReport',0)" data-reporte='@JsonConvert.SerializeObject(item)' style="color:white;">Editar</a>
                                                <a class="btn btn-info" onclick="OpenModalInfoGanado(this,'mdlInfoGanado')" data-reporte='@JsonConvert.SerializeObject(item)' style="color:white;">Ver</a>
                                                <a class="btn btn-danger cambiar-estado-btn" data-id='@item.Id' style="color:white;">Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <h3>Lo sentimos no tenemos datos por mostrar</h3>
    </div>
}

@*Modal to Information Ganado*@
<div class="modal fade" id="mdlInfoGanado">
    <div class="modal-dialog modal-lg dialogPDF">
        <div class="modal-content contentPDF">
            <div class="modal-header" style="background-color: #007C89; color:white; justify-content: center; ">
                <h5 class="modal-title">Información Ganado</h5>
            </div>
            <div class="modal-body">
                   <div class="row" style=" padding-left: 1rem;">
                       <input type="hidden" class="form-control" name="Id" id="RegistroId" asp-for="ReporteCreate.Id" >
                       <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mb-3">
                            <label for="CodigoCVOInfo" class="form-label">Codigo CVO</label>
                            <input type="text" class="form-control" name="CodigoCVO" id="CodigoCVOInfo" asp-for="ReporteCreate.CodigoCVO" placeholder="Digite el código CVO..." readonly autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mb-3">
                            <label for="CodigoTransporteInfo" class="form-label">Codigo Transporte</label>
                            <input type="text" class="form-control" name="CodigoTransporte" id="CodigoTransporteInfo" asp-for="ReporteCreate.CodigoTransporte" readonly placeholder="Digite el código de transporte..." autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mb-3">
                            <label for="IdentificacionInfo" class="form-label">Identificacion del cliente</label>
                            <input type="text" class="form-control" name="Identificacion" id="IdentificacionInfo" asp-for="ReporteCreate.Identificacion" readonly placeholder="Digite la identificación del cliente..." autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mb-3">
                            <label for="NombreClienteInfo" class="form-label">Nombre Cliente</label>
                            <input type="text" class="form-control" name="NombreCliente" id="NombreClienteInfo" asp-for="ReporteCreate.NombreCliente" readonly placeholder="Digite el nombre del cliente..." autocomplete="off">
                        </div>
                    </div>
                </div>
                 <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mb-3">
                            <label for="transaccionInfo" class="form-label">Transacción</label>
                            <input type="text" class="form-control" name="NombreCliente" id="transaccionInfo"  readonly placeholder="Transacción..." autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div id="informacionAnimalContainer">
                        </div>
                    </div>
                </div>
                 </div>

            </div>
            <br />
            <div class="modal-footer">
                  <button class="btn btn-success" type="submit" id="downloadPdfBtn">Generar PDF</button>
                <button type="button" id="btnCloseModalInfoGanado" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*Modal to add Reporte*@
<div class="modal fade" id="mdlAddReporte">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #007C89; color:white; justify-content: center;">
                <h5 class="modal-title">Agregar Reporte</h5>
            </div>
            <form asp-controller="Reporte" asp-action="CrearReporte" method="post" id="formAddReporte">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="hdfId" asp-for="ReporteCreate.Id" />
                    <div class="row" style="padding-left: 1rem;">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="CodigoCVO" class="form-label">Codigo CVO</label>
                                    <input type="text" class="form-control" name="CodigoCVO" id="CodigoCVO" asp-for="ReporteCreate.CodigoCVO" placeholder="Digite el código CVO..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="CodigoTransporte" class="form-label">Codigo Transporte</label>
                                    <input type="text" class="form-control" name="CodigoTransporte" id="CodigoTransporte" asp-for="ReporteCreate.CodigoTransporte" placeholder="Digite el código de transporte..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label for="ddlAddTransaccionModal">Seleccione la Transaccion</label>
                                    <input type="text" id="ddlAddReporteTransaccionModal" list="AddReporteTransaccionlList" class="form-control" placeholder="Buscar Transaccion..." autocomplete="off">
                                    <input type="hidden" name="Transaccion" id="IdReporteTransaccionCreate" asp-for=" ReporteCreate.Transaccion" />

                                    <datalist id="AddReporteTransaccionlList">

                                        @{
                                            if (Model != null && Model.listaTransacciones != null)
                                            {
                                                foreach (var item in Model.listaTransacciones)
                                                {

                                                    <option value="@item.Descripcion" data-id="@item.Id">@item.Descripcion</option>
                                                }
                                            }
                                        }

                                        }
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="Identificacion" class="form-label">Identificacion</label>
                                    <input type="text" class="form-control" name="Identificacion" id="Identificacion" asp-for="ReporteCreate.Identificacion" placeholder="Digite la identificación del cliente..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="NombreCliente" class="form-label">Nombre Cliente</label>
                                    <input type="text" class="form-control" name="NombreCliente" id="NombreCliente" asp-for="ReporteCreate.NombreCliente" placeholder="Digite el nombre del cliente..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="FechaCreacion" class="form-label">Fecha de Creación</label>
                                    <input type="date" class="form-control" name="FechaCreacion" id="FechaCreacion" asp-for="ReporteCreate.FechaCreacion">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="submit" id="btnAddReporte" class="btn btn-primary">Aceptar</button>
                    <button type="button" id="btnCloseModalAddReporte" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="mdlModifyReport">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #007C89; color:white; justify-content: center;">
                <h5 class="modal-title">Agregar Reporte</h5>
            </div>
            <form asp-controller="Reporte" asp-action="Edit" method="post" id="formModifyReporte">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="hdfIdModify" asp-for="ReporteCreate.Id" />
                    <div class="row" style="padding-left: 1rem;">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="CodigoCVOModify" class="form-label">Codigo CVO</label>
                                    <input type="text" class="form-control" name="CodigoCVO" id="CodigoCVOModify" asp-for="ReporteCreate.CodigoCVO" placeholder="Digite el código CVO..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="CodigoTransporteModify" class="form-label">Codigo Transporte</label>
                                    <input type="text" class="form-control" name="CodigoTransporte" id="CodigoTransporteModify" asp-for="ReporteCreate.CodigoTransporte" placeholder="Digite el código de transporte..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label for="ddlModifyTransaccionModal">Seleccione la Transaccion</label>
                                    <input type="text" id="ddlModifyReporteTransaccionModal" list="ModifyReporteTransaccionlList" class="form-control" placeholder="Buscar Transaccion..." autocomplete="off">
                                    <input type="hidden" name="Transaccion" id="IdReporteTransaccionModify" asp-for=" ReporteCreate.Transaccion" />

                                    <datalist id="ModifyReporteTransaccionlList">

                                        @{
                                            if (Model != null && Model.listaTransacciones != null)
                                            {
                                                foreach (var item in Model.listaTransacciones)
                                                {

                                                    <option value="@item.Descripcion" data-id="@item.Id">@item.Descripcion</option>
                                                }
                                            }
                                        }

                                        }
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="IdentificacionModify" class="form-label">Identificacion</label>
                                    <input type="text" class="form-control" name="Identificacion" id="IdentificacionModify" asp-for="ReporteCreate.Identificacion" placeholder="Digite la identificación del cliente..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="NombreClienteModify" class="form-label">Nombre Cliente</label>
                                    <input type="text" class="form-control" name="NombreCliente" id="NombreClienteModify" asp-for="ReporteCreate.NombreCliente" placeholder="Digite el nombre del cliente..." autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pt-4 p-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mb-3">
                                    <label for="FechaCreacionModify" class="form-label">Fecha de Creación</label>
                                    <input type="date" class="form-control" name="FechaCreacion" id="FechaCreacionModify" asp-for="ReporteCreate.FechaCreacion" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="submit" id="btnModifyReporte" class="btn btn-primary">Aceptar</button>
                    <button type="button" id="btnCloseModalModifyReporte" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#treporte').DataTable();</script>
    <script>
        $(document).ready(function () {
            var today = new Date();
            var day = String(today.getDate()).padStart(2, '0');
            var month = String(today.getMonth() + 1).padStart(2, '0');
            var year = today.getFullYear();



            var formattedDate = year + '-' + month + '-' + day;
            $('#FechaCreacion').val(formattedDate);
            $('#FechaCreacion').prop('readonly', true);
              document.getElementById('downloadPdfBtn').addEventListener('click', function () {
                var registroId = document.getElementById('RegistroId').value;
                window.location.href = '/Reporte/GenerarPDFReporte?RegistroId=' + registroId;
            });
            InitializerEventDropDownList('ddlAddReporteTransaccionModal', 'AddReporteTransaccionlList', 'IdReporteTransaccionCreate');
            InitializerEventDropDownList('ddlModifyReporteTransaccionModal', 'ModifyReporteTransaccionlList', 'IdReporteTransaccionModify');
            $('#btnCloseModalAddReporte').click(function () {
                $('#formAddReporte')[0].reset();
                $('#FechaCreacion').val(formattedDate);
                $('#FechaCreacion').prop('readonly', true);
            });

            $('#mdlAddReporte').on('hidden.bs.modal', function () {
                $('#formAddReporte')[0].reset();
                $('#FechaCreacion').val(formattedDate);
                $('#FechaCreacion').prop('readonly', true);
            });


            $('form').on('submit', function (e) {
                showSpinner();

                e.preventDefault();

                var form = $(this);
                var url = form.attr('action');

                console.log(form.serialize());
                setTimeout(function () {


                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: form.serialize(),
                        success: function (response) {
                            if (response.success) {
                                Swal.fire({
                                    title: 'Éxito',
                                    text: response.message,
                                    icon: 'success'
                                }).then(() => {
                                    window.location.href = '@Url.Action("Index", "Reporte")';
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error',
                                    text: response.message,
                                    icon: 'error'
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error("Error en AJAX: ", textStatus, errorThrown);
                            console.error("Detalles: ", jqXHR.responseText);

                            Swal.fire({
                                title: 'Error',
                                text: 'Ocurrió un error inesperado: ' + errorThrown,
                                icon: 'error'
                            });
                        }
                    });

                    hideSpinner();
                }, 1000);
            });

            // $('#formAddReporte').submit(function (e) {
            //     e.preventDefault();

            //     var $form = $(this);
            //     var formData = $form.serialize();

            //     $.ajax({
            //         url: $form.attr('action'),
            //         type: 'POST',
            //         data: formData,
            //         success: function (response) {
            //             if (response.success) {
            //                 Swal.fire({
            //                     title: 'Éxito',
            //                     text: response.message,
            //                     icon: 'success'
            //                 }).then(function () {
            //                     $('#mdlAddReporte').modal('hide');
            //                     $('#formAddReporte')[0].reset();
            //                     location.reload();
            //                 });
            //             } else {
            //                 Swal.fire({
            //                     title: 'Error',
            //                     text: response.message,
            //                     icon: 'error'
            //                 });
            //             }
            //         },
            //         error: function (xhr, status, error) {
            //             Swal.fire({
            //                 title: 'Error',
            //                 text: 'Ha ocurrido un error al enviar el formulario.',
            //                 icon: 'error'
            //             });
            //             console.error('Error:', error);
            //         }
            //     });
            // });

            $('.cambiar-estado-btn').click(function (e) {
                e.preventDefault();

                var id = $(this).data('id');

                $.ajax({
                    url: '@Url.Action("ValidarEliminacion", "Reporte")',
                    type: 'GET',
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Confirmación',
                                text: '¿Estás seguro de que deseas eliminar este registro?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Sí',
                                cancelButtonText: 'No'
                            }).then((result) => {
                                if (result.isConfirmed) {

                                    $.ajax({
                                        url: '@Url.Action("Delete", "Reporte")',
                                        type: 'GET',
                                        data: { id: id },
                                        success: function (response) {

                                            Swal.fire('Éxito', response.message, 'success').then(function () {

                                                location.reload();
                                            });
                                        },
                                        error: function (xhr, status, error) {

                                            Swal.fire('Error', 'Ha ocurrido un error al eliminar las reporte.', 'error');
                                            console.error('Error:', error);
                                        }
                                    });
                                }
                            });
                        } else {
                            Swal.fire('Error', response.message, 'error');
                            console.error('Error:', response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire('Error', 'Ha ocurrido un error al eliminar las reporte.', 'error');
                        console.error('Error:', error);
                    }
                });


            });
        });

        function InitializerEventDropDownList(DropDownInput, dataList, HDF) {
            var typingTimer;
            var doneTypingInterval = 1000;

            document.getElementById(DropDownInput).addEventListener("input", function () {
                clearTimeout(typingTimer);

                typingTimer = setTimeout(function () {
                    var inputValue = document.getElementById(DropDownInput).value.toLowerCase();
                    var inputObject = document.getElementById(DropDownInput);
                    var options = document.getElementById(dataList).options;

                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];
                        var text = option.textContent.toLowerCase();

                        if (text.indexOf(removeAccents(inputValue)) !== -1) {
                            option.style.display = "block";
                        } else {
                            option.style.display = "none";
                        }
                    }
                    var selectedOption = null;
                    for (var i = 0; i < options.length; i++) {
                        if (options[i].value.toLowerCase() === inputObject.value.toLowerCase()) {
                            selectedOption = options[i];
                            break;
                        }
                    }
                    if (selectedOption) {
                        inputObject.value = selectedOption.textContent;
                        document.getElementById(HDF).value = selectedOption.getAttribute('data-id');
                    } else {
                        document.getElementById(HDF).value = '';
                    }
                    if (GetDropDownValueSelected(DropDownInput, dataList) === null) {
                        inputObject.value = '';
                        inputObject.placeholder = "No se encontró el registro digitado";
                        $('#txtDescription').val('');

                        typingTimer = setTimeout(function () {
                            inputObject.placeholder = "Seleccione una opción...";
                        }, 700);
                    } else {
                        document.getElementById(DropDownInput).value = GetDropDownTextContentSelected(DropDownInput, dataList);
                        options[0].selected = true;
                    }
                }, doneTypingInterval);
            });
        }

        function OpenModalInfoGanado(button, modal) {
            var reporteJson = button.getAttribute("data-reporte");
            var reporte = JSON.parse(reporteJson);

            console.log(reporte);

                     $('#NombreClienteModify').val(reporte.NombreCliente);
                     $('#IdentificacionInfo').val(reporte.Identificacion);
                     $('#CodigoTransporteInfo').val(reporte.CodigoTransporte);
                     $('#CodigoCVOInfo').val(reporte.CodigoCVO);
                     $('#transaccionInfo').val(reporte.Venta.Descripcion);
                     $('#RegistroId').val(reporte.Id);

            $.ajax({
                url: '/Reporte/ObtenerAnimales',
                data: { idAnimal: reporte.Venta.IdAnimal },
                type: 'GET',
                success: function (data) {
                    $('#informacionAnimalContainer').html(data);
                },
                error: function (error) {
                    console.log('Error al obtener la información del animal:', error);
                }
            });
        

            OpenModal(modal);
        }


        function OpenModalModifyReport(button, modal, option) {

            if (option === 0) {
              
                var reporteJson = button.getAttribute("data-reporte");
                var reporte = JSON.parse(reporteJson);
                var FechaCreacion = new Date(reporte.FechaCreacion);
                var formattedDate = FechaCreacion.toISOString().split('T')[0];
                console.log(reporte);
                $('#NombreClienteModify').val(reporte.NombreCliente);
                $('#IdentificacionModify').val(reporte.Identificacion);
                $('#CodigoTransporteModify').val(reporte.CodigoTransporte);
                $('#CodigoCVOModify').val(reporte.CodigoCVO);
                $('#FechaCreacionModify').val(formattedDate);
                $('#hdfIdModify').val(reporte.Id);
                $("#ddlModifyReporteTransaccionModal").val(reporte.Venta.Descripcion);
                ActivateInputEvent('ddlModifyReporteTransaccionModal');

                OpenModal(modal);

            }
           

        }
    </script>
}
